<!-- Text Chat View -->
<div id="text-view" class="tab-view active">
    <div id="chat-view-content">
        <div class="message bot" id="welcome-message">
            <div class="bubble">
                <span id="welcome-text">{{ wl_welcome }}</span>
            </div>
        </div>
        <!-- Loading Bubble -->
        <div class="message bot" id="loading-bubble">
            <div class="bubble">
                <div class="typing-indicator">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
    </div>
</div>
